<h1>新しい投稿を作成する</h1>

<%= form_with model: @post, local: true, html: { multipart: true } do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %>が発生しました:</h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class = "container mt-4 mb-4">
  <div class="form-group row">
    <%= form.label :image, "イメージ", class: "col-md-2 col-form-label" %>
    <div class="col-md-8">
      <%= form.file_field :image %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :title, "タイトル", class: "col-md-2 col-form-label" %>
    <div class="col-md-8">
      <%= form.text_field :title, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :description, "概要", class: "col-md-2 col-form-label" %>
    <div class="col-md-8">
      <%= form.text_area :description, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :start_date, "会期", class: "col-md-2 col-form-label" %>
    <div class="col-md-3">
      <%= form.date_field :start_date, class: "form-control" %>
    </div>
    <div class="col-md-1 text-center">～</div>
    <div class="col-md-3">
      <%= form.date_field :end_date, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :start_time, "時間", class: "col-md-2 col-form-label" %>
    <div class="col-md-3">
      <%= form.time_select :start_time, class: "form-control" %>
    </div>
    <div class="col-md-1 text-center">～</div>
    <div class="col-md-3">
      <%= form.time_select :end_time, class: "form-control" %>
    </div>
  </div>

    <div class="form-group row">
      <%= form.label :place, "場所", class: "col-md-2 col-form-label" %>
      <div class="col-md-8">
        <%= form.text_field :place, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label :category_ids, "カテゴリ", class: "col-md-2 col-form-label" %>
      <div class="col-md-8">
        <%= form.collection_check_boxes :category_ids, Category.all, :id, :name do |b| %>
          <div class="form-check form-check-inline">
            <%= b.check_box class: "form-check-input" %>
            <%= b.label class: "form-check-label" %>
          </div>
        <% end %>
      </div>

    <div class="form-group row">
      <div class="col-md-10 offset-md-2">
        <%= form.submit "投稿する", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>