<h1>新しい投稿を作成する</h1>

<%= form_with model: @post, local: true, html: { multipart: true } do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %>が発生しました:</h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_field :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_field :end_date %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.time_field :start_time %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.time_field :end_time %>
  </div>

  <div class="field">
    <%= form.label :place %>
    <%= form.text_field :place %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>
  
  <div class="form-group">
    <%= form.label :category_id, "カテゴリ" %>
    <%= form.collection_select :category_id, Category.all, :id, :name, { prompt: "カテゴリを選んでください" }, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "投稿する" %>
  </div>
<% end %>