<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="h3 mb-3 font-weight-normal text-center">新規登録</h2>

      <%= form_with model: @user, url: user_registration_path, class: "form-signin" do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :name, 'おなまえ', class: "sr-only" %>
          <%= f.text_field :name, class: "form-control", placeholder: "おなまえ", required: true %>
        </div>

        <div class="form-group">
          <%= f.label :email, 'メールアドレス', class: "sr-only" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "メールアドレス", required: true %>
        </div>

        <div class="form-group">
          <%= f.label :password, 'パスワード', class: "sr-only" %>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: " パスワード(6文字以上)", required: true %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, '確認のためもう一度パスワードを入力してください', class: "sr-only" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "パスワードの確認", required: true %>
        </div>

        <div class="actions">
          <%= f.submit "登録", class: "btn btn-lg btn-primary btn-block" %>
        </div>
      <% end %>

      <div class="row mt-4">
        <%= render "public/shared/links" %>
      </div>
    </div>
  </div>
</div>