<div class="container mt-4">
  <!-- ユーザー情報（名前と編集ボタン）-->
  <div class="row">
    <div class="col-md-6">
      <p style="font-size: 24px;"><%= @user.name %></p>
    </div>
    
    <% unless current_user.guest_user? %>
      <div class="col-md-6 text-right">
        <%= link_to 'プロフィール編集', edit_user_registration_path, class: 'btn btn-outline-primary', style: 'border: 1px solid #3190d8; color: #3190d8; background-color: #fff;' %>
      </div>
    <% end %>
  </div>

  <!-- メールアドレスと退会ボタン -->
  <div class="row mb-4">
    <div class="col-md-6">
      <p><%= @user.email %></p>
    </div>
    <% unless current_user.guest_user? %>
      <div class="col-md-6 text-right">
        <%= link_to '退会する', user_registration_path(@user), method: :delete, data: { confirm: '本当に退会しますか？' }, class: 'btn btn-danger', style: 'color: #fff; background-color: #ff5757;' %>
      </div>
    <% end %>
  </div>

  <!-- SNSリンク -->
  <% unless current_user.guest_user? %>
    <ul style="list-style-type: none; padding-left: 0;">
        
      <% if @user.twitter.present? %>
      <li>
        <i class="fa-brands fa-twitter" style="color: #63E6BE;"></i> <%= @user.twitter %>
      </li>
      <% end %>
      
      <% if @user.instagram.present? %>
        <li>
          <i class="fa-brands fa-square-instagram" style="color: #778899;"></i> <%= @user.instagram %>
        </li>
      <% end %>
      <% if @user.facebook.present? %>
        <li>
          <i class="fa-brands fa-facebook" style="color: #74C0FC;"></i> <%= @user.facebook %>
        </li>
      <% end %>
      <% if @user.tiktok.present? %>
        <li> 
          <i class="fa-brands fa-tiktok" style="color: #778899;"></i> <%= @user.tiktok %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <!-- 新規投稿ボタン -->
  <% unless current_user.guest_user? %>
    <div class="row">
      <div class="col-md-12 text-center">
        <%= link_to '新規投稿', new_post_path, class: 'btn btn-outline-primary', style: 'border: 2px solid #3190d8; color: #3190d8; background-color: #fff; width: 200px;' %>
      </div>
    </div>
  <% end %>
  
  <!-- タブメニュー -->
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="my-posts-tab" data-toggle="tab" href="#my-posts" role="tab" aria-controls="my-posts" aria-selected="true">自分の投稿</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="liked-posts-tab" data-toggle="tab" href="#liked-posts" role="tab" aria-controls="liked-posts" aria-selected="false">いいねした投稿</a>
    </li>
  </ul>

  <!-- タブの内容 -->
  <div class="tab-content" id="myTabContent">
    <!-- 自分の投稿一覧 -->
    <div class="tab-pane fade show active" id="my-posts" role="tabpanel" aria-labelledby="my-posts-tab">
      <% if @posts.any? %>
        <div class="row">
          <% @posts.each do |post| %>
            <div class="col-md-4 mb-4">
              <div class="card">
                <% if post.image.present? %>
                  <%= image_tag post.image.url, class: 'card-img-top', alt: post.title %>
                <% end %>
                <div class="card-body">
                  <h5 class="card-title"><%= post.title %></h5>
                  <p class="card-text"><%= truncate(post.description, length: 100) %></p>
                  <p><strong>場所:</strong> <%= post.place %></p>
                  <p><strong>期間:</strong> <%= post.start_date %> 〜 <%= post.end_date %></p>
                  <%= link_to '詳細を確認', post_path(post),  class: 'btn mr-2', style: 'background-color: #3190d8; color: #fff;' %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <p>現在、投稿はありません。</p>
      <% end %>
    </div>

    <!-- いいねした投稿一覧 -->
    <div class="tab-pane fade" id="liked-posts" role="tabpanel" aria-labelledby="liked-posts-tab">
      <% if @liked_posts.present? && @liked_posts.any? %>
        <div class="row">
          <% @liked_posts.each do |post| %>
            <div class="col-md-4 mb-4">
              <div class="card">
                <% if post.image.present? %>
                  <%= image_tag post.image.url, class: 'card-img-top', alt: post.title %>
                <% end %>
                <div class="card-body">
                  <h5 class="card-title"><%= post.title %></h5>
                  <p class="card-text"><%= truncate(post.description, length: 100) %></p>
                  <p><strong>場所:</strong> <%= post.place %></p>
                  <p><strong>期間:</strong> <%= post.start_date %> 〜 <%= post.end_date %></p>
                  <%= link_to '詳細を確認', post_path(post), class: 'btn mr-2', style: 'background-color: #3190d8; color: #fff;' %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <p>いいねした投稿はありません。</p>
      <% end %>
    </div>
  </div>