<div class="container">
  <div class="row" style="padding: 20px;">
    <h1>マイページ</h1>
  </div>
  <div class="row" style="padding: 10px;">
    <p><strong>名前:</strong> <%= @user.name %></p>
    <p><strong>メールアドレス:</strong> <%= @user.email %></p>
  </div>
  <div class="row" style="padding: 10px;">
    <%= link_to 'プロフィール編集', edit_user_registration_path, class: 'btn btn-primary  mr-2' %>
    <%= link_to '退会する', user_registration_path(@user), method: :delete, data: { confirm: '本当に退会しますか？' }, class: 'btn btn-primary' %>
  </div>
  <div class="row" style="padding: 10px;">
    <button type="button" class="btn btn-outline-primary"><%= link_to '新規投稿', new_post_path %></button>
  </div>
  
    <div class="row" style="padding: 10px;">
    <h2>自分の投稿一覧</h2>
  </div>

  <% if @posts.any? %>
    <div class="row">
      <% @posts.each do |post| %>
        <div class="col-md-4 mb-4">
          <div class="card">
            <% if post.image.present? %>
              <%= image_tag post.image.url, class: 'card-img-top', alt: post.title %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= post.title %></h5>
              <p class="card-text"><%= truncate(post.description, length: 100) %></p>
              <p><strong>場所:</strong> <%= post.place %></p>
              <p><strong>期間:</strong> <%= post.start_date %> 〜 <%= post.end_date %></p>
              <%= link_to '詳細を確認', post_path(post), class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>現在、投稿はありません。</p>
  <% end %>
</div>