<!DOCTYPE html>
<html>
<head>
  <title>管理者ページ</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <!--ヘッダー -->
  <header>
    <%= render 'admin/shared/header' %>
  </header>

  <div class="container-fluid">
    <div class="row">
      <!-- サイドバー -->
      <%= render 'admin/shared/sidebar' %>

      <!-- メインコンテンツ -->
      <main role="main" class="col-md-8 mx-auto col-lg-8">
        <%= yield %>
      </main>
    </div>
  </div>
</body>
</html>