<!DOCTYPE html>
<html>
  <head>
    <title>KotenSearch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&display=swap" rel="stylesheet">
     <script src="https://kit.fontawesome.com/c3316d311d.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <nav class="navbar">
        <div class="navbar-left">
          <%= link_to root_path do %>
            個展サーチ<i class="fas fa-paint-brush"></i>
          <% end %>
        </div>
          <div class="navbar-right">
            <ul class="nav-list">
              <li class="nav-item">
               <%= link_to '投稿一覧', posts_path %>
              </li>
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to 'マイページ', "/mypage" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "新規登録", new_user_registration_path %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログイン", new_user_session_path %>
                </li>
              <% end %>
            </ul>
          </div>
       </nav>
    </header>

    <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
